section.container__seccion{
    padding: 5rem 0;
}

section.container__seccion .container__titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 9.25rem;
    color: var(--font-preto);
}
section.container__seccion .container__titulo h2{
    font-size: 2rem;
    font-weight: 700;
    
}

section.container__seccion .container__titulo p{
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    
}
section.container__seccion .container__verTodo img{
    width: 1rem;
    
}
section.container__seccion .container__verTodo{
    display: flex;
    margin-right: 1rem;
}

