footer{
    text-align: center;
    height: 4rem;
    top:2rem
}
.piePagina{
    background: var(--background-blanco);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    margin: 0 9.25rem;
}
@media screen and (max-width: 1023px) {
    .piePagina{
        margin: 0 2rem;
    }
}
@media screen and (max-width: 1023px) {
   
    .piePagina{
        display: flex;
        flex-direction:column;
        margin: 0 2rem;
        padding-top: 1rem;

    }
}