form.login_contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 22.75rem;
    padding: 2rem 0;
}

.registrarse{
    color: var(--font-azul-claro);
}
.registrar{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
}

#accesoDenegado{
    color: var(--font-red);
    text-align:left;
    font-size: 0.875rem;
}
#validacion{
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 1rem;
    justify-content: center;
    border-image: none;
}


.username__email{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

section.login_contenedor h2{
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--font-preto);
}
input#email, input#password{
    width: 100%;
    height: 3.946rem;
    border-radius: 0.25rem;
    border: 0;
    padding-left: 1rem;
    margin-top: 1rem;
}
input#password{
    width: 89%;
}

button.boton{
    width: 92%;
    height: 3.875rem;
    background-color: var(--background-azul-claro);
    color: var(--font-white);
    border: 0;
    margin-top: 1rem;
}
@media screen and (max-width: 1439px) {
    section.login_contenedor{
        margin: 0 20.75rem;
        padding: 2rem 0;
    }
    
}
@media screen and (max-width: 1023px) {
    section.login_contenedor{
        margin: 0 15.375rem;
        padding: 2rem 0;
    }
    button.boton{
        margin: 1rem 4rem;
    }
    
}
@media screen and (max-width: 767px) {
    section.login_contenedor{
        margin: 0 2.813rem;
        padding: 2rem 0;
    }
    button.boton{
        margin: 1rem 4rem;
    }
    
}