section.agregar-producto__contenedor {
  display: flex;
  flex-direction: column;
  margin: 0 28.281rem;
}

div.nuevo-producto {
  display: flex;
  flex-direction: column;
}
.bonton__agregar-nuevo {
  margin-bottom: 5rem;
}
section.agregar-producto__contenedor h2.titulo {
  margin-top: 5rem;
  margin-bottom: 1rem;
}
#descripcion {
  margin-bottom: 2rem;
}

#url-imagen:hover {
  cursor: pointer;
}
@media screen and (max-width: 1439px){
    section.agregar-producto__contenedor{
        margin: 0 18rem;
    }
    
}
@media screen and (max-width: 1024px){
    section.agregar-producto__contenedor{
        margin: 0 2rem;
    }

    h2.titulo{
        font-size: 1.375rem;
    }
    
}
@media screen and (max-width: 767px){
    section.agregar-producto__contenedor{
        margin: 0 1rem;
    }
    
}
