/* PALETAS DE COLORES  */
:root{
    /* colores de fondo  */
    --background-gris-claro:  #F5F5F5;
    --background-azul-claro:#2A7AE4;
    --background-blanco:#ffffff;
    --background-blanco-hueso:#F5F5F5;

    /* colores de la fuente  */
    --font-gris-oscuro: #A2A2A2;
    --font-white:#ffffff;
    --font-azul-claro:#2A7AE4;
    --font-preto:#464646;


    /* botones  */

    --border-azul-claro: #2A7AE4;
    
    /* borde inferior del menu*/
    --border-azul-claro:#2A7AE4;

    /* Tipos de fuentes */

  --relaway: "Relaway", sans-serif;
  --open-sans: "Open Sans", sans-serif;

}


body{
    font-size: 1rem;
    color: var(--font-gris-oscuro);
    font-family: var(--relaway);
    
    
}
main, section.container__contacto{
  background-color: var(--background-blanco-hueso);
}
.boton{
  height: 3.188rem;
  background: var(--background-azul-claro);
  color: var(--font-white);
  border: none;
  cursor: pointer;
  
}
input{
  height: 2rem;
  border: 0;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}
label{
  font-size: 0.75rem;
  background-color: var(--font-white);
  color: var(--font-gris-oscuro);
  padding: 0.5rem 0 0 0.5rem;
}
h2{
  font-size: 2rem;
  color: var(--font-preto);
  font-weight: bold;
}

